<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>CV Detail</title>
</head>
<body>
    <div class="container">
        <h1>{{ cv.firstname }} {{ cv.lastname }}</h1>
        <p><strong>Skills:</strong> {{ cv.skills }}</p>
        <p><strong>Projects:</strong> {{ cv.projects }}</p>
        <p><strong>Bio:</strong> {{ cv.bio }}</p>
        <p><strong>Contacts:</strong> {{ cv.contacts }}</p>
    </div>
</body>
</html>

